

<div class="container">

<h2>All Open Questions</h2>

  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="question-cards">
          <span class="category">Category:<%= question.category_id %></span>
          <span class="title"><%= question.title %></span>
          <%= link_to "View", question_path(question), class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
