<div class="container">
  <h2>Type your Reply</h2>
  <div class="row">
    <%# Add simple form with input fields to create a question %>
    <div class="col-xs-12 col-md-6 white-box">
      <%= render "replies/form", question: @question%>
    </div>
  </div>
</div>
