// Define variables for your color scheme

// MAIN APP COLORS
$blue: #43608E;
$orange: #F5A623;
$green: #61C77E;

// secondary colors
$font_color: #333745;
$medium_gray: #bdbdbd;
$background_gray: #f6f6f6;

// // For example:
$red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;
