.margin-bottom {
 margin-bottom: 20px;
}

.margin-top {
 margin-top:20px;
}

#question_title {
  height: 60px;
}

#question_description {
  height: 120px;
}

h2 {
  font-size: 25px;
}

.padding {
  padding: 10px 30px;
}
