// Specific CSS for your home-page
.landing-page-content {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.outside-banner-page {
  display: flex;
  flex-direction: column;
}

.icons-card {
  margin: 15px;
  font-size: 30px;
}
