.replier-details {
  display: flex;
  align-items: center;
  padding: 10px;
}

.replier-details-left {
  display: flex;
  align-items: left;
  padding: 10px;
}

.on-top-of {
  padding: 10px;
}

.header-reply {
  display: flex;
  justify-content: space-between;
  .status-box {
    p {
      margin: 0px;
      padding: 0px;
      font-size: 12px;
    }
  }
}

.red {
  font-color: $red;
  color: $red;
}

.green {
  font-color: $green;
  color: $green;
}

