h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin: 40px 0px 40px 0px;
}

h2 {
  margin: 25px 0px 25px 20px;
  font-size: 25px;
  font-weight: bold;
  color: $font_color;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  color: $font_color;
}

p {
  margin: 5px;
  color: $font_color;
}

i {
  color: $font_color;
}

.padding-top {
  padding-top: 20px;
}

.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.white-header h1,h2,h3 {
  color: white;

.green {
  color: $green;
  font-color: $green;
}

.red {
  color: $red;
  font-color: $red;
}

.gray {
  opacity: 0.6;
}
