<div class="dir-button-tabs">
  <div class="tabs">
    <a class="tab active" href="/inbox">
      <h3>Inbox</h3>
    </a>
    <a class="tab" href="/calls">
      <h3>Calls</h3>
    </a>
    <a class="tab" href="/dashboard">
      <h3>Posts</h3>
    </a>
  </div>
</div>
