.banner {
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.banner-content {
  height: 55vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  .profile-banner {
    text-align: top;

  }
}
.banner h1 {
  margin: 0px;
  color: white;
  font-size: 40px;
  justify-content: center;
}

.banner-content p {
  font-size: 20px;
  margin: 0px;
  margin-top: 25px;
  color: white;
}

.calltoaction {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

