.banner {
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.banner-content {
  height: 55vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.banner-content.profile-banner {
    height: 10vh;
    // justify-content: start;
  }


.banner h1 {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 60px;
  justify-content: center;
}


.banner-content p {
  font-size: 28px;
  margin: 0px;
  margin-top: 25px;
  color: white;
}

// Change font sizes and settings for mobile devices
// Otherwise font was to small on Desktop
@media only screen and (max-width: 600px) {
  .banner h1 {
    margin: 0px;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
    justify-content: center;
  }

  .banner-content p {
  font-size: 20px;
  margin: 0px;
  margin-top: 25px;
  color: white;
  }
}


.calltoaction {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

