// CARD FOR THE INDEX AND QUESTIONS
.question-card {
  background-color: white;
  padding: 10px 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 1px 0 $medium_gray;
  position: relative;
}

.card-text-content {
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.description {
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.datetime {
  font-size: 12px;
  margin: 0px;
  font-color: $medium_gray;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.6;
}

.replies {
  font-size: 16px;
  color: $font_color;
}

.reply-container {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5px;
  opacity: 0.6;
}

.category {
  font-size: 12px;
  margin: 0px;
  opacity: 0.6;

}

// // CARD FOR THE REPLY
.reply-card {
  background-color: white;
  padding: 15px 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 1px 0 $medium_gray;
}

.reply-header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-textbox {
  p {
    padding: 0px;
    margin: 0px 0px 0px 10px;
  }
}

.user {
  font-size: 14px;
  opacity: 0.6;
}

.status-box {
  display: flex;
  align-items: center;
}

.created_at {
  font-size: 12px;
}

.reply-footer {
  display: flex;
  justify-content: space-between;
}

.offer {
  font-size: 14px;
}

.status-box {
  p {
    font-size: 14px;
  }
  i {
    font-size: 14px;
  }
}

.rating-stars {
  font-size: 12px;
  padding-left: 10px;
}

.reviews-text {
  font-size: 12px;
  opacity: 0.6;
  color: $font_color;
}


// FOR BUTTONS
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}


// @media only screen and (max-width: 600px) {
//   .question-card {
//     border-radius: 0px;
//   }
// }

