// CARD FOR THE CATEGORY
.question-card {
  background-color: white;
  padding: 10px 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.10);
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.description {
  font-size: 15px;
}

.category {
  font-size: 12px;
  margin: 0px;
  font-color: $medium_gray;
}

// // CARD FOR THE REPLY
.author-reply {
  display:flex;
  justify-content: space-between;
}

.author-name {
  display: flex;
}

.user-name {
  margin-left: 10px;
}

.offer {
  position: absolute;
  font-size: 16px;
  bottom: 10px;
}

.status {
  font-size: 16px;
}

// FOR BUTTONS
.button-container {
  display: flex;
  justify-content: flex-end;

}
