.navbar-phone {
  /* Dropdown menu FOR THE PHONE*/
  .navbar-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    width: 55vw;
  }
  .navbar-dropdown-menu li > a {
    transition: color 0.3s ease;
    // font-weight: lighter !important;
    color: black !important;
    font-size: 16px !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
}
