<div class="row">
  <div>
    <%= simple_form_for [@category] do |f| %>
      <div class="margin-bottom"><%= f.association :category, label: "Pick a category", include_hidden: false%></div>
      <div class="margin-bottom"><%= f.submit "Submit Question", class: "btn btn-orange btn-big margin-top" %></div>
    <% end %>
  </div>
</div>
