.review-card {
  background: white;
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 20px;
}

.center {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.caller-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.call-details {
  font-size: 18px;
}

.call-details-title {
  font-size: 18px;
  margin: 0px;
  opacity: 0.6;
}

.padding-top-half {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.center-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin-top: 20px;
}

.replier-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone-icon-preconfirmation {
  padding-left: 20px;
  padding-right: 20px;
}

.phone-icon-confirmed {
  color: $green;
  padding-left: 20px;
  padding-right: 20px;
}

.clear-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/// Status-Bar
.status-header {
  background-color: $background_gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 1px 0 #bdbdbd;
  margin-bottom: 30px;
  margin-top: -10px;
  box-shadow: 0 1px 1px 0 #bdbdbd;
  margin-left: -30px;
  margin-right: -30px;
}

.status {
  font-size: 14px;
  color: $font_color;
  background-color: white;
  width: 33.33%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Change Font-Size for small screens
@media only screen and (max-width: 400px) {
    .status {
        font-size: 12px;
    }
}

.status-center {
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.status-first {
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.status-last {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.current {
  font-weight: bold;
  background-color: white;
  border-bottom: 2px solid $green;
  p {
    color: $font_color;
  }
}

.completed {
  background-color: $green;
  border-bottom: 2px solid $green;
  p {
  color: white;
  }
}

.incomplete {
  border-bottom: 2px solid $background_gray;
  p {
  color: $font_color;
  opacity: 0.6;
  }
}
