<div class="banner-form" style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%), url(https://images.unsplash.com/photo-1505032514103-badefc77d557?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d71e0cc2e3823aa21b7db64c3a987b1&auto=format&fit=crop&w=3300&q=80); background-size: cover;background-position: center;">
  <div class="container">
    <h1 class="text-center white-header">Write a Review</h1>
    <div class="row">
      <%# Add simple form with input fields to create a question %>
      <div class="col-xs-12 col-md-6 col-md-offset-3 white-box">
        <%= render "reviews/form", call: @call%>
      </div>
    </div>
  </div>
</div>
