<div class="container">
  <h2>Write a Review</h2>
  <div class="row">
    <%# Add simple form with input fields to create a question %>
    <div class="col-xs-12 col-md-6 white-box">
      <%= render "reviews/form", call: @call%>
    </div>
  </div>
</div>
